
.navbar {
    font-size:16px ;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top:0;
    left:-10px;
    
    box-shadow:0 5px 10px rgb(107, 105, 105); 
}
.brandname{
    font-size: 2rem;
    font-weight: 1000;
    padding:0 20px;
    color: rgb(9, 0, 181);
    transition: 0.4s ease;
    margin-left: -250px;
}
.navbar-light .navbar-nav .nav-link {
    margin-left: 1000px;
    padding:0 20px;
    color: rgb(9, 0, 181);
    transition: 0.4s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
 .navbar i:hover{
    color:rgb(16, 211, 45);
}
.collapse .nav-link{
    font-size: 1.2rem;
    padding:0 0.7px;
    transition:0.4s ease;
    font-weight: 500;
    cursor:pointer;
    margin-left: 1000px;
}


h2 {
    margin-top:2em;
    font-size: 2rem;
    margin:15px;
    color:rgb(6, 52, 132);
    font-family: 'Jost', sans-serif;
    align-items: right;
}







    